/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}








body {
    font-family: Calibri;
}

header {
    background: #000;
    padding: 10px;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

nav {
    float: right;
    margin-top: 10px;
}

nav ul li {
    float: left;
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 1px;
}

.bar {
    margin-left: 20px;
}

header:after {
    content: "";
    display: block;
    clear: both;
}

.main-banner img {
    width: 100%;
}

.main-banner {
    max-height: 300px;
    overflow: hidden;
    position: relative;
}

.banner-letras {
    position: absolute;
    top: 10%;
    left: 10%;
}

.banner-letras h1 {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1%;
}

.banner-letras p {
    color: #fff;
    font-size: 20px;
    max-width: 580px;
    margin-bottom: 3.5%;
}

.banner-letras a {
    text-decoration: none;
    color: #fff;
    background-color: green;
    border-radius: 5px;
    padding: 10px 20px;
}

#main-content {
    margin: 3% 0;
}

.services ul {
    list-style-type: none;
}

.services ul li {
    float: left;
    width: 20%;
}

.services li:nth-child(2) {
    margin: 0 20%;
}

.services li img {
    margin-left: 15%;
}

.services li h3 {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 3%;
}

.services li p {
    text-align: center;
    font-size: 15px;
}

.services:after {
    content: "";
    display: block;
    clear: both;
}

#clients {
    margin: 6% 0;
    border-top: 1px solid #ccc;
    padding: 3% 0;
}

#clients h3 {
    text-align: center;
    padding: 1%;
    width: 17%;
    margin: 0 auto;
    margin-top: -5%;
    margin-bottom: 4%;
    background-color: greenyellow;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
}

#clients .profile {
    float: left;
}

#clients .quote {
    width: 80%;
    text-align: center;
    float: right;
    margin-top: 3%;
    margin-right: 3%;
    padding-top: 4%;
    background: url(images/quote.png) no-repeat;
    font-style: italic;
}

#clients:after {
    content: "";
    display: block;
    clear: both;
}

#contact {
    border-top: 1px solid #ccc;
    padding: 4% 0;
}

#contact h3 {
    text-align: center;
    width: 20%;
    margin: 0 auto;
    margin-top: -6%;
    padding: 1%;
    background-color: greenyellow;
    border-left: 10px solid #Fff;
    border-right: 10px solid #Fff;
    margin-bottom: 20px;
}

#contact ul {
    float: left;
}

#contact ul li {
    list-style-type: none;
    margin: 5% 0;
    font-size: 20px;
    padding-left: 20%;
    padding-bottom: 8%;
    padding-top: 4%;
}
#contact li:nth-child(1) {
    background: url(images/phone.svg) no-repeat;
}
#contact li:nth-child(2) {
    background: url(images/email.png) no-repeat;
}
#contact li:nth-child(3) {
    background: url(images/gps.png) no-repeat;
}

#contact img {
    float: right;
}

#social {
    clear: both;
}

#social li {
    float: left;
    list-style-type: none;
    margin-top: -6%;
}









