* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

#menu-bar {
    display: none;
}

label {
    display: none;
    color: transparent;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: auto;
    overflow: hidden;
}

header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/header-bg.jpg);
    background-size: cover;
    height: 800px;
    color: #fff;
}

.menu {
    padding-top: 30px;
    position: fixed;
    background: transparent;
    width: 100%;
    transition: 0.8s;
}

.menu #logo {
    font-size: 21px;
    margin-top: 10px;
    float: left;
}

header nav {
    float: right;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    font-size: 14px;
    color: #fff;
    margin-left: 20px;
    font-weight: 500;
    transition: 0.4s;
}

header nav ul li a:hover {
    color: #ccc;
    transition: 0.4s;
}

header .wrapper-title {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 290px 0;
    text-align: center;
}

header .wrapper-title h1 {
    font-size: 55px;
    margin-bottom: 5px;
}

header .wrapper-title p {
    margin-bottom: 50px;
}

header .wrapper-title a {
    color: #fff;
    background: #00AEDA;
    padding: 20px 40px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.4s;
}

header .wrapper-title a:hover {
    background: #222225;
    color: #00AEDA;
    transition: 0.4s;
}

/* ----- ----- CLASSES ----- ------ */

#classes {
    padding: 90px 0;
    background: #2E2E30;
}

h2 {
    color: #fff;
    text-align: center;
    font-size: 40px;
}

#classes p {
    text-align: center;
    color: #A1A1A1;
    margin-bottom: 50px;
    width: 60%;
    margin: auto;
    line-height: 28px;
}

#classes .wrapper-classes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 90px;
}

#classes .wrapper-classes ul {
    width: 26%;
    list-style: none;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

#classes .wrapper-classes ul i {
    background: #00AEDA;
    color: #fff;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
}

#classes .wrapper-classes ul li:nth-child(1) {
    margin-bottom: 30px;
}

#classes .wrapper-classes ul li:nth-child(2) {
    font-weight: 700;
    margin-bottom: 5px;
}

#classes .wrapper-classes ul li:nth-child(3) {
    color: #A1A1A1;
    font-size: 14px;
    line-height: 23px;
}

/* ------ ----- PROMISES ------ ------  */

#promise {
    padding: 90px 0;
}

#promise h2 {
    color: #000;
}

#promise p {
    text-align: center;
    color: #A1A1A1;
    font-size: 14px;
    line-height: 20px;
    width: 44%;
    margin: auto;
}

#promise .content {
    display: flex;
    margin-top: 60px;
}

#promise .wrapper-promises ul {
    list-style: none;
    text-align: right;
    margin: auto;
    margin-bottom: 70px;
    margin-right: 25px;
}

#promise .wrapper-promises ul li:nth-child(2) {
    color: #A1A1A1;
    line-height: 23px;
    letter-spacing: 1px;
}

#promise .wrapper-promises i {
    color: #6FD1EA;
    font-size: 50px;
    margin-bottom: 20px;
}

#promise .right ul {
    text-align: left;
}

/* ----- ------ FIT ------- ------ */

#fit, #results, #comand {
    padding: 50px 0;
    background: #F9F9F9;
}

#fit .wrapper, #results .wrapper, #comand .wrapper {
    max-width: 1580px;
    display: flex;
    justify-content: space-around;
}

#fit .text, #results .text, #comand .text {
    width: 35%;
    color: #A1A1A1;
}

#fit .text h3, #results .text h3, #comand .text h3 {
    font-size: 40px;
    font-weight: 600;
    color: #000;
}

#fit .text p, #results .text p, #comand .text p {
    margin-top: -25px;
    line-height: 23px;
}

#fit .text ul, #results .text ul, #comand .text ul {
    padding: 0;
    margin-left: 20px;
    margin-top: 40px;
}

#fit .text ul li, #results .text ul li, #comand .text ul li {
    margin-bottom: 10px;
}

/* ------- ------ RESULTS ------ ------  */

#results {
    background: #fff;
}

/* ---- ----- QUOTE ----- ----- */

#quote {
    padding: 190px 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/image-bg.jpg);
    background-size: cover;
    text-align: center;
    color: #fff;
}

#quote p, #quote a {
    margin-top: 80px;
}

#quote p {
    font-size: 40px;
}

#quote .link {
    background: #00AEDA;
    font-weight: 600;
    transition: 0.4s;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 50px;
}

#quote .link a {
    color: #fff;
}

#quote .link:hover {
    background: #222225;
    color: #00AEDA;
    transition: 0.4s;
}

/* ------ ----- REVIEWS ----- ------ */

#reviews {
    padding: 90px 0;
    background: #00AEDA;
}

#reviews img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: auto;
}

#reviews .testimonial-item  {
    text-align: center;
}

#reviews .testimonial-client p {
    color: #fff;
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}

#reviews .testimonial-text {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 17px;
    letter-spacing: 1px;
    line-height: 24px;
    font-weight: 400;
    width: 60%;
    margin: auto;
}

/* ------- ------ PRICING ------- ------ */

#pricing {
    background: #2E2E30;
    padding: 90px 0;
}

#pricing p {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #a1a1a1;
    line-height: 23px;
    margin-bottom: 70px;
}

#pricing .wrapper-prices {
    display: flex;
}

#pricing .wrapper-prices ul {
    color: #7d7d7f;
    background: #222225;
    padding: 60px 60px;
    list-style: none;
    text-align: center;
    margin: 0 20px;
    width: 40%;
    margin: auto;
}

#pricing .wrapper-prices ul h3 {
    font-weight: 800;
    margin-bottom: 40px;
}

#pricing .wrapper-prices ul li:nth-child(2) {
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 60px;
}

#pricing .wrapper-prices ul li:nth-child(3) {
    width: 60%;
    margin: auto;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 50px;
}

#pricing a {
    color: #fff;
    background: #00AEDA;
    padding: 20px 40px;
    border-radius: 50px;
    font-weight: 600;
    transition: 0.4s;
}

#pricing a:hover {
    background: #222225;
    color: #00AEDA;
    transition: 0.4s;
}

/* ----- ----- NEWSLETTER ------ ------ */

#newsletter {
    padding: 90px 0;
    background: linear-gradient(to right, rgba(0, 174, 218, 0.5), rgba(0, 174, 218, 0.9)), url(../images/cta_bg.jpg) no-repeat center center;
    background-size: cover;
}

#newsletter h2 {
    margin-bottom: 20px;
}

#newsletter p {
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 26%;
    margin: auto;
    margin-bottom: 60px;
}

#newsletter .suscribe {
    display: flex;
    justify-content: center;
}

#newsletter input[type="text"],
#newsletter input[type="submit"] {
    padding: 10px 15px;
}

#newsletter input[type="text"] {
    width: 300px;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#newsletter input[type="submit"] {
    padding: 10px 25px;
    font-size: 14px;
    background: #222225;
    border: 0;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 5px;
    transition: 0.4s;
    cursor: pointer;
}

#newsletter input[type="submit"]:hover {
    background: #000;
    transition: 0.4s;
}

/* ----- ----- FOOTER ------ ------ */

footer {
    background: #222225;
    padding: 50px 0;
}

footer .wrapper-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer .wrapper-footer ul {
    list-style: none;
    color: #A1A1A1;
}

footer .wrapper-footer ul h4 {
    color: #fff;
}

footer .wrapper-footer .one {
    width: 400px;
}

footer .wrapper-footer .one li:nth-child(2){
    margin-bottom: 20px;
    font-size: 14px;
}

footer .wrapper-footer .one li:nth-child(3){
    font-size: 14px;
}

footer .wrapper-footer .social i {
    background: #00AEDA;
    color: #000;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}

footer .wrapper-footer .social i:hover {
    background: #000;
    color: #fff;
    transition: 0.4s;
}

footer .wrapper-footer .contact {
    width: 320px;
    font-size: 14px;
}

@media screen and (max-width: 975px) {
    #classes .wrapper-classes ul {
    width: 36%;
}

    #promise p {
        width: 100%;
    }

    #promise .content {
    flex-direction: column;
}

    .center-image {
        width: 40%;
        margin: auto;
    }

    .center-image img {
        width: 100%;
    }

#promise .wrapper-promises ul {
    list-style: none;
    text-align: right;
    margin: auto;
    margin-bottom: 70px;
    margin-right: 25px;
    width: 100%;
}

    #fit .wrapper, #results .wrapper, #comand .wrapper {
    flex-wrap: wrap;
}

#fit .text, #results .text, #comand .text {
    width: 100%;
}

#pricing .wrapper-prices ul li:nth-child(2) {
    margin-bottom: 40px;
}

#pricing .wrapper-prices ul li:nth-child(3) {
    width: 100%;
}

#newsletter p {
    width: 100%;
}

}

@media screen and (max-width: 800px) {
    #pricing .wrapper-prices {
    flex-wrap: wrap;
}

    #pricing .wrapper-prices ul {
    color: #7d7d7f;
    background: #222225;
    padding: 60px 30px;
    list-style: none;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
}

    #pricing .wrapper-prices ul li:nth-child(2) {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 40px;
}

#pricing .wrapper-prices ul li:nth-child(3) {
    width: 50%;
    margin: auto;
    line-height: 25px;
    font-size: 14px;
    margin-bottom: 50px;
}
}

@media screen and (max-width: 767px) {
    header {
        height: 400px;
    }

    header .wrapper-title {
    margin: 120px 0;
}

    header .wrapper-title h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }

    .fa-bars {
        color: #666;
        font-size: 28px;
        float: right;
        margin-top: 3px;
    }

    #menu-bar:checked ~ nav {
        transform: translateX(0%);
        transition: 0.4s;
    }

    header nav {
        position: absolute;
        top: 53px;
        left: 0;
        background: rgba(255,255,255,0.9);
        width: 100%;
        transform: translateX(100%);
        transition: 0.4s;
    }

    header nav ul li {
        display: block;
        margin-bottom: 15px;
    }

    header nav ul li a {
        color: #000;
    }

    header .menu {
        padding-bottom: 10px;
    }

    #quote {
        padding: 70px 0;
    }

    #quote p {
        font-size: 30px;
    }

    #reviews {
        padding: 50px 0;
    }

    #pricing p {
        width: 100%;
    }

    #fit .foto img, #results .foto img, #comand .foto img {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #classes p {
        width: 100%;
    }

    #classes .wrapper-classes ul {
    width: 100%;
    list-style: none;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    padding: 0;
}

}

@media screen and (max-width: 480px) {
    #newsletter .suscribe {
    flex-wrap: wrap;
}

    #newsletter input[type="text"] {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }

    #pricing .wrapper-prices ul li:nth-child(3) {
    width: 100%;
}
}